h2 The Santa Phone Project
h1 Privacy Notice (December 12, 2016)


p The Santa Phone Project is a project of Twilio Inc., 375 Beale Street, 3rd Floor, San Francisco, CA 94010.  If you have questions about information we collect when you use the Santa Phone, you can email us at privacy@twilio.com. 


h2 What is the Santa Phone:
p The Santa Phone is a fun and free application built using Twilio’s Programmable Voice and Programmable Messaging APIs for parents and guardians to let their children have a “conversation” with “Santa’s helper” about what they want for Christmas.  The voice of “Santa’s helper” is actually a machine-read script using Twilio’s text-to-voice capabilities - so your child will not be speaking with an actual person.  The call will be recorded by Twilio.  We will then send a link to the recording to your email address so you can listen to all the adorableness!  

h2 What we collect: 
p When you, the parent or guardian, sign up for the Santa Phone, we collect your name, email address, and phone number (“contact information”) so that we can 
ol
  li authenticate your phone number (it has to be your number - no pranking anyone!) and obtain your consent to record your or your child’s voice and any personal information shared on the voice recording,
  li call that phone number at the scheduled time so that you can have your child tell “Santa’s helper” what he or she wants for Christmas,
  li send you a link to the recording that is created when your child spoke with “Santa’s helper” on your phone, and
  li send you an MMS of the North Pole.


p We may also use your email address to communicate with you regarding any customer support matters or questions you might have about the Santa Phone.


p During the call, we will collect audio of your or your child’s answers to the questions from “Santa’s Helper.”  We collect this audio so that we can share a recording of your or your child’s “conversation” with you via email and you can listen to the conversation.  This is the purpose of the Santa Phone - to provide you a cute memento of your child’s conversation with Santa’s helper - so if you do not consent to your or your child’s conversation being recorded, please do not use the Santa Phone. 

h2 What we use your information for:
p We use the information we collect from you to provide you the Santa Phone and to provide customer support, as necessary.  In addition, because the Santa Phone uses your telephone number to make a phone call, when the call is made to your phone, we will keep a log of that phone call, including your telephone number, so we can reconcile our records with our carrier partners and audit those records as necessary for tax and accounting purposes.We also keep a copy of  your consent to record your or your child’s call with “Santa’s Helper.” 


p We do not use the audio of your or your child’s conversation for any purpose other than to share it back with you so that you can listen and enjoy it. 


h2 Who we share your information with:
p Telephone carriers: Because the Santa Phone calls your telephone number, in order to complete and connect that call, we will share your telephone number with our carrier partners.  The audio, of course, will also be transmitted over carrier networks as with any other telephone call.


p Service providers: We also use service providers to provide the Santa Phone, such as those that provide the infrastructure on which we run our service and our storage providers.  We will share your information and your child’s conversation with those service providers as necessary to provide the Santa Phone service. These third-party service providers are limited to only accessing or using this data to provide services to us and must provide reasonable assurances that they will appropriately safeguard the data.


p Compliance with laws: It is rare, but we may disclose your data to a third party if (i) we believe that disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or a government request (including to meet national security or law enforcement requirements), (ii) to protect the security or integrity of our services and products, (iii) to protect ourselves, our other customers, or the public from harm or illegal activities, or (iv) to respond to an emergency which we believe in good faith requires us to disclose data to assist in preventing a death or serious bodily injury. If Twilio is required by law to disclose any of your data that directly identifies you or the your child, then we will use reasonable efforts to provide you with notice of that disclosure requirement, unless we are prohibited from doing so by law. Further, we object to requests that we do not believe were issued properly. 

h2 How we secure your data:
p We use appropriate security measures to help protect the security of your contact information. Please note though that no service is completely secure. So, while we strive to protect your information, we cannot guarantee that unauthorized access, hacking, data loss or a data breach will never occur.
p It is important to note that the audio recording of you or your child’s conversation with Santa’s helper is not secured.  Anyone with access to the link, will be able to listen to the recording.  We will only share the link with you via the email address you provide.  However, if you forward the email or the link to the recording to others, they will be able to access the recording, as will anyone else with whom they share the email or link to.  

h2 Where is your data stored: 
p All information we collect is stored in the United States. If you are outside the United States, your information will traverse carrier networks outside the United States as necessary to connect your call. 

p Twilio has certified with the U.S. – Swiss Safe Harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal data from Switzerland. To learn more about the U.S.-Swiss Safe Harbor program, and to view Twilio’s certification, please visit http://export.gov/safeharbor. Twilio has further certified with the EU-U.S. Privacy Shield Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of “personal data” (as defined under the Privacy Shield principles) from applicable European Union member countries. You can access our Privacy Shield Statement here.

h2 How do you request deletion of the recording of your child’s conversation: 
p When you receive the email with the recording of your child’s wishes you will also see a link to delete the recording. 

h2 How do you request deletion of other information you provide when using the Santa Phone: 
p You can request deletion of your name and email from our systems by emailing help@twilio.com.
p Please note that for purposes of reconciling records with our carrier partners and for tax and auditing purposes, we must retain a record of the call and text messages from the Santa Phone made to you, including the date and time of that call and your telephone number.  We will also keep a record of your consent to record your or your child’s conversation with “Santa’s helper.”